.recipesView {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 50px;
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    text-align: left;
}
